@import 'tailwindcss';
@theme {
  --color-primary: #1890ff;
  --color-primary-oklch: oklch(71.5% 0.143 215.221);
  --font-family: 'Poppins, Vazirmatn, sans-serif';
  --radius-base: 0.375rem;
  --radius-xs: calc(var(--border-radius) * 0.5);
  --radius-sm: calc(var(--radius-base) * 0.75);
  --radius-md: var(--radius-base);
  --radius-lg: calc(var(--radius-base) * 1.25);
  --radius-xl: calc(var(--radius-base) * 1.5);
  --radius-2xl: calc(var(--radius-base) * 1.75);
  --radius-3xl: calc(var(--radius-base) * 2);
  --radius-4xl: calc(var(--radius-base) * 2.25);
}
